@import url("../default/normalize.css");
@import url("../default/reset.css");
@import url("../color.css");
// @import "img";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap");

* {
  font-family: sans-serif, "Roboto Mono", monospace;
}

.logo {
  width: 38px;
  height: 38px;
}

main {
  background-color: var(--main-color--bg);
}

.container {
  margin: 0 auto;
  max-width: 97%;
}

.icon {
  width: 20px;
  height: 20px;
}

.left-wrapper {
  width: 25%;
}
.middle-wrapper {
  width: 45%;
}
.right-wrapper {
  width: 30%;
}
