@import "../../../assets/styles/scss/variables";

.root {
  position: sticky;
  top: 0;
  .middleWrapperContent {
    @extend %middle-content--width;
  }
  background-color: pink;
  .wrapper {
    padding: 10px 0;

    .create_btn {
      background-color: white;
    }
    .search_input {
      width: 50%;
      border-radius: 10px;
      padding: 10px 15px;
      &,
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  .logo {
    cursor: pointer;
    height: 35px;
    width: 50px;
    background-size: cover;
  }
  .burger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: $nav-icon--margin-right;
  }
}
