@import "../../../assets/styles/scss/variables";

.root {
  @extend %middle-content--width;
  .newsList_smart {
    border-radius: 10px;
    padding: 15px 20px;
    background-color: white;
    .newsItem_smart {
      cursor: pointer;
      font-size: 15px;
      line-height: 1.5;
      transition: color 0.2s ease;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &:hover {
        color: rgb(9, 9, 200);
      }
    }

    .limitBtn {
      cursor: pointer;
      font-weight: 600;
      background-color: transparent;
      border: none;
      &:hover {
        color: rgb(9, 9, 200);
      }
    }
  }
  .newsList {
    .newsItem {
      border-radius: 10px;
      padding: 15px 20px;
      background-color: white;

      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }
}
