:root {
  --main-color--purp: #e9dde3;
  --main-color--purp-5: #fdf3f9;
  --main-color--pink: #feebef;
  --main-color--pink-5: #fee8ec;
  --main-color--pink-10: #ffdee5;
  --main-color--pink-20: #f65e7b;
  --main-color--bg: #f2f2f2;
  --main-color--bg-hover: #f8f8f8;
}
